.formsuccess__container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}
.formsuccess__title{
    font-size: 3rem;
    color: azure;
}
.formsuccess__content{
    font-size: 1.3rem;
    color: azure;
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 756px) {
    .formsuccess__title{
        font-size: 2.5rem;
    }
    .formsuccess__content{
        font-size: 1.2rem;
        width: 88%;
    }
}
